<ion-header>
  <ion-toolbar>
    <ion-title>{{data.models_need_pick.length}} Phân loại</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="filterData()">
        <ion-icon slot="icon-only" name="funnel" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content data-tap-disabled="true">
  <ion-grid>
    <ion-row class="rowItem" *ngFor="let i of data.models_need_pick; index as ind">
      <ion-col size="5">
        <div class="img">
          <img src="https://cf.shopee.vn/file/{{i.image}}_tn" style="width: 100%" alt="">
        </div>
      </ion-col>
      <ion-col size="7">
        <ion-row>
          <a style="text-decoration: unset"
            [ngStyle]="{'font-size': i.product_name.length>23? '12px' : '14px'}"><b>{{i.product_name}}</b> </a>
        </ion-row>
        <ion-row class="select" [ngStyle]="{'background-color': i.status ? 'rgba(116, 247, 116, 0.1)' : ''}">
          <ion-col style="border-right: #ddd solid 1px; font-size: 17px">
            <div><b>{{i.name}}</b></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="9">
            <div (click)="editPicked(i.pickedAmount, ind)" class="amount"><mark
                *ngIf='i.pickedAmount > 0 && i.pickedAmount < i.amount'>{{i.pickedAmount}}/</mark>{{i.amount}}
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="checkbox">
              <ion-checkbox id="{{i.item_id}}" [(ngModel)]="i.status" (click)="changeStatusPick( ind)">
              </ion-checkbox>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>