<ion-header>
  <ion-toolbar>
    <ion-title>Quét Mã {{current}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="typeScan === 'ScanReturnOrder' && list[0]">
    <h3 style="text-align: center">{{list[0].mvd}} - {{list[0].status}}</h3>
  </ng-container>
  <zxing-scanner
    #scanner
    start="true"
    [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"
    (scanSuccess)="getResult($event)"
  ></zxing-scanner>
  <ion-list>
    <ion-radio-group [(ngModel)]="typeScan" (ngModelChange)="current = null">
      <ion-item>
        <ion-label>Chuyển đơn sang Đã Hoàn</ion-label>
        <ion-radio slot="end" value="ScanReturnOrder"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Xem chi tiết đơn hàng</ion-label>
        <ion-radio slot="end" value="ViewDetail"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-list>
    <ion-list-header lines="inset">
      <ion-label>Kết quả quét</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of list">
      <ion-label color="primary">
        <h1 style="color: black"><b>{{item.mvd}}</b></h1>
        <span>{{item.status}}</span>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
