<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img
          *ngFor="let url of photos"
          src="{{url}}"
          width="100%"
          (click)="show(url)"
        />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
