<ion-header no-border>
  <ion-toolbar>
    <ion-searchbar
      slot="start"
      #mySearchbar
      placeholder="TÌM THEO MÃ VẬN ĐƠN"
      [(ngModel)]="search"
      (ngModelChange)="searchItem($event)"
    ></ion-searchbar>
    <ion-buttons slot="primary">
      <ion-button (click)="infoColor()">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-menu side="end" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Chú Thích</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <div
          class="box"
          style="background-color: rgba(248, 174, 174, 0.36)"
        ></div>
        &nbsp;:&nbsp; Đơn chưa chia đi nhặt
      </ion-item>
      <ion-item>
        <div class="box" style="background-color: #ffeea6"></div>
        &nbsp;:&nbsp; Đơn đã chia đi nhặt
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-content id="main">
  <ion-content padding>
    <!-- <ion-fab bottom right>
        <button ion-fab color="primary">
          <ion-icon name="help"></ion-icon>
        </button>
      </ion-fab> -->
    <ion-list *ngIf="data">
      <ion-item
        lines="none"
        *ngFor="let item of data"
        (click)="selectItem(item)"
        id="{{item.shipping_traceno}}"
        [ngClass]="{'picked': item['set_picked'] }"
      >
        <!-- {{item.check}} -->
        <ion-label>
          <h2><b>{{item.shipping_traceno}}</b></h2>
          <p>{{item.buyer_user.user_name}}</p>
          <p>{{item.buyer_address_name}}</p>
          <p>+{{item.buyer_address_phone}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <!-- <ion-list *ngIf="showList">
      <ion-item *ngFor="let item of items" id="{{item.traceno}}" (click)="selectItem($event)" [ngStyle]="{'background-color': item.check? 'rgba(0, 255, 75, 0.08)' : 'rgba(255, 0, 0, 0.04)',
                      'border': item.check? 'rgba(0, 255, 76, 0.62) solid 1px' : 'rgba(255, 18, 18, 0.31) solid 1px'}">
        <b>{{item.traceno}}</b> <br>
        {{item.nickname}} - {{ item.status }}
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-content>
