<ion-header>
  <ion-toolbar>
    <ion-title>NHẶT HÀNG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="data">
    <ion-list style="margin-top: 50px;">
      <ion-item *ngFor="let item of data" (click)="selected(item)">
        <ion-label>
          <span class="date">{{item.gomdon_ctime*1000 | date: 'HH:mm dd/MM/y'}}</span> <span class="right"><b>{{item.models_need_pick.length}} PL</b></span> 
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
