<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="orders">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="picks">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-tab-button>

    <!-- <ion-tab-button tab="scanner">
      <ion-icon src="assets/scan.svg"></ion-icon>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="chats">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
