<ion-content #chatsView [scrollEvents]="true" (ionScroll)='scrollView($event)'>
  <ion-list>
    <ion-item lines='none' *ngFor="let item of chats" id="{{item.gomdon_ctime}}">
      <ion-label>
        <h6 class="author"><span *ngIf="item.from.uid !== fbSV.info.uid">{{item.from.name}} &nbsp;</span> <span class="date" [ngClass]='{"own": item.from.uid === fbSV.info.uid }'>{{item.gomdon_ctime*1000 | date: 'HH:mm dd/MM'}}</span>
        </h6>
        <br *ngIf="item.from.uid === fbSV.info.uid">
        <p [ngClass]='{"own": item.from.uid === fbSV.info.uid }'>{{item.content}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer no-border>
  <ion-toolbar>
    <ion-row style="padding: 0 12px;">
      <ion-input id="input-chat" class="chat" type='text' [(ngModel)]='text' placeholder='Nhập tin nhắn tại đây...'></ion-input>
      <ion-icon (click)="send()" class="send" name="navigate"></ion-icon>
    </ion-row>
  </ion-toolbar>
</ion-footer>